.App {
  text-align: center;
  background: #f5f5f5;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App > h3 {
  margin-top: 0;
  padding-top: 20px;
}
.App > h4 {
  display: inline;
}
.step {
  text-decoration: underline;
}
.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.inputCard {
  width: 200px;
  margin: 0px 100px;
  z-index: 1;
}
.dropDown {
  width: 170px;
  transform: translateX(15px);
  padding-top: 1px;
  z-index: 2;
}
.dropDown > li {
  list-style: none;
  height: 28px;
  background: gray;
  padding: 1px 0px;
  border-bottom: 1px solid #fff;
}
.countryDropdown {
  text-align: justify;
}

.continentDropdown > li:hover {
  color: #fff;
  background: #000;
  cursor: pointer;
}
.selectedContinent {
}
.selectedContinent > p {
  margin-top: 10px;
}

.selectedContinent :nth-child(2) {
  font-size: larger;
  color: #f39898;
  font-weight: 900;
}
.searchBoxInput {
  width: 170px;
}
